# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
_doc/BIF_DBR_ABBV53-20-810-19-jun'20.xlsx
_doc/Collated DBR.xlsx
_doc/Final ouput Links.xlsx
_doc/N-R Reference file (CPF database).xlsx
_doc/SOP_Wealth_BIF Prep - Python- new.docx
_doc/invoiceFinal.xlsx
_doc/
